<article class="format">
  <p>
    It looks like you're starting fresh with us, and we couldn't be more excited to have you on board!
    Right now, your list of new words is empty, but that's about to change.
  </p>

  <p>
    You can make a list of new words by
    <%= link_to 'adding a study set', new_study_set_path, class: 'dark:text-gray-300 underline hover:no-underline' %>.
  </p>
</article>
