<div id="<%= dom_id study_set %>">
  <p>
    <strong>Name:</strong>
    <%= study_set.name %>
  </p>

  <p>
    <strong>Term lang:</strong>
    <%= study_set.study_config.term_lang %>
  </p>

  <p>
    <strong>Definition lang:</strong>
    <%= study_set.study_config.definition_lang %>
  </p>

</div>
