<div class="flex justify-between">
  <h3>Editing study set</h3>

  <div>
    <%= render(UI::ButtonComponent.new(
      text: 'Back to this study set',
      variant: :neutral,
      options: { as: :a, href: @study_set.folder ? folder_study_set_path(@study_set.folder, @study_set) : study_set_path(@study_set) }
    )) %>
  </div>
</div>

<%= render "form", study_set: @study_set %>
