<h1>Editing study set</h1>

<%= render "form", study_set: @study_set %>

<br>

<div>
  <%= link_to "Show this study set", folder_study_set_path(@folder, @study_set) %> |
  <%= link_to "Back to folder", @folder %>
</div>
