<div class="flex justify-end">
  <%= render(UI::ButtonComponent.new(text: 'Add study set', options: { as: :a, href: new_study_set_path })) %>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-3 mt-4">
  <% @study_sets.each do |study_set| %>
    <%= render(StudySets::CardComponent.new(study_set: study_set)) %>
  <% end %>
</div>
