<p style="color: green"><%= notice %></p>

<div class="flex flex-col gap-10 pb-6">
  <%= render(StudySets::TopBarComponent.new(study_set: @study_set)) %>
  <div>
    <div id="study-set_terms">
      <% @study_set.terms.order(:created_at).each do |term| %>
        <%= render partial: 'terms/term_form', locals: { term: term } %>
      <% end %>
    </div>

    <%= render partial: 'terms/term_form', locals: { term: @study_set.terms.build } %>
  </div>
</div>
