<div class="flex justify-between">
  <h3>Editing folder <%= @folder.name %></h3>

  <div class="flex gap-2">
    <%= render(UI::ButtonComponent.new(text: 'Back to this folder', variant: :secondary, options: { as: :a, href: folder_path(@folder) })) %>
    <%= render(UI::ButtonComponent.new(text: 'Back to folders', variant: :neutral, options: { as: :a, href: folders_path })) %>
  </div>
</div>

<%= render "form", folder: @folder %>
