<h1>Editing folder</h1>

<%= render "form", folder: @folder %>

<br>

<div>
  <%= link_to "Show this folder", @folder %> |
  <%= render(UI::ButtonComponent.new(text: 'Back to folders', variant: 'neutral', options: { as: :a, href: folders_path })) %>
</div>
