<%= link_to "New folder", new_folder_path, class: 'px-3 py-2 transition rounded hover:bg-zinc-50 mb-3 inline-block' %>

<div id="folders" class="grid grid-cols-3 gap-3 mt-3">
  <% 5.times.map { @folders }.flatten.each do |folder| %>
    <%= render folder %>
  <% end %>
</div>
