<%= render(UI::ButtonComponent.new(text: "New folder", options: { as: :a, href: new_folder_path })) %>

<div id="folders" class="grid grid-cols-4 gap-3 mt-4">
  <% @folders.each do |folder| %>
    <%= render(UI::CardComponent.new(as: :a, href: folder_path(folder))) do %>
      <%= folder.name %>
    <% end %>
  <% end %>
</div>
