<div>
  <div class="flex justify-between">
    <h3>
      New folder
    </h3>
    <%= render(UI::ButtonComponent.new(text: 'Back to folders', variant: 'neutral', options: { as: :a, href: folders_path })) %>
  </div>

  <%= render "form", folder: @folder %>
</div>
