
<div class="bg-white dark:bg-gray-800 py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Start your journey with Aprendí
        today</h2>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">With Aprendí, you can effortlessly enhance your vocabulary by adding your own words
              to personalized study sets</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Our platform provides simple and clear exercises tailored to your learning needs,
              ensuring an engaging and effective learning experience.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Track your progress with ease on our intuitive dashboard, empowering you to achieve
              your language learning goals faster than ever before.</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
