<div class="flex flex-1 justify-end">
  <% if current_user.present? %>
    <%= link_to 'Go to the app', dashboard_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
  <% else %>
    <%= link_to new_user_session_path, class: 'text-sm font-semibold leading-6 text-gray-900' do %>
      Log in <span aria-hidden="true">&rarr;</span>
    <% end %>
  <% end %>
</div>
