<div class="flex items-center gap-4">
  <%= render DarkModeToggleComponent.new(classes: "") %>

  <div class="flex items-center">
    <% if current_user.present? %>
      <%= link_to dashboard_path, class: "transition rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
        Go to Dashboard
      <% end %>
    <% else %>
      <%= form_with(url: user_google_oauth2_omniauth_authorize_path, method: :post, class: '') do |f| %>
        <%= f.button class: "transition rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
          Sign in
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
