<div id="<%= dom_id study_config %>">
  <p>
    <strong>Configurable:</strong>
    <%= study_config.configurable_id %>
  </p>

  <p>
    <strong>Term lang:</strong>
    <%= study_config.term_lang %>
  </p>

  <p>
    <strong>Definition lang:</strong>
    <%= study_config.definition_lang %>
  </p>

</div>
