<h1>Editing study config</h1>

<%= render "form", study_config: @study_config %>

<br>

<div>
  <%= link_to "Show this study config", @study_config %> |
  <%= link_to "Back to study configs", study_configs_path %>
</div>
