<h1>New test step</h1>

<%= render "form", test_step: @test_step %>

<br>

<div>
  <%= render(UI::ButtonComponent.new(text: 'Back to folders', variant: 'neutral', options: { as: :a, href: test_steps_path })) %>
</div>
