<div>
  <h2>Data Deletion Request</h2>

  <p>
    At <strong>Aprendí</strong>,
    we deeply respect your privacy and are committed to ensuring the security and confidentiality of your personal data.
    In alignment with privacy laws and our dedication to transparency,
    we provide our users the option to request the deletion of their personal data from our records.
  </p>

  <h3>
    If you wish to have your personal data removed from our servers,
    you can submit your request using the form below.
  </h3>

  <%= form_with model: AccountDeletionRequest.new, class: 'my-8' do |f| %>
    <%= render(UI::Form::InputComponent.new(form: f, attribute: :email, label: 'An email associated with account')) %>

    <%= render(UI::ButtonComponent.new(text: I18n.t('helpers.submit.account_deletion_requests'), options: { type: :submit, class: 'mt-3' })) %>
  <% end %>

  <h3>What Happens Next?</h3>

  <ul>
    <li>Upon receiving your request, we will send you an email to confirm the address you've entered</li>
    <li>After the email confirmed we will delete all your data from our servers</li>
  </ul>

  <h3>Contact Us:</h3>

  <p>If you have any questions about the data deletion process or require further assistance, please do not hesitate to contact us at <a href="mailto:shcherbakan.dmitriy@gmail.com">contact us</a></p>

  <p>Thank you for your trust in <strong>Aprendí</strong>.</p>
</div>
