<div class="pb-4">
  <h3 class="">
    Import terms to the "<%= @study_set.name %>" study set
  </h3>

  <%= form_with url: parse_study_set_import_path, method: :post, html: { 'data-controller' => 'import' } do %>
    <div class="mt-4" data-import-parsing-value="false">
      <label for="terms-list" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Terms list</label>
      <textarea
        id="terms-list"
        name="terms_list"
        data-import-target="termsList"
        data-action="import#parse"
        rows="10"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Paste your terms here:"></textarea>
    </div>

    <div class="mt-4">
      <label for="separator" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Term/definition
        separator</label>
      <input
        type="text"
        id="separator"
        name="separator"
        data-import-target="separator"
        data-action="import#parse"
        placeholder="-"
        class="block p-2.5 w-full mt-2 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
    </div>

    <div data-import-target="parsingIndicator" class="invisible h-10 text-gray-700 mt-3">
      Parsing...
    </div>
  <% end %>

  <%= render(Imports::ParsedTermsComponent.new(@study_set)) %>
</div>
