<div style="padding: 10%; text-align: center">
  Follow <%= link_to 'this link', confirm_account_deletion_requests_url(token: @token), target: '_blank' %>
  to delete account for <%= @email %>
</div>
