<div class="py-6">
  <%= link_to dashboard_path, class: "-mx-3 block text-white rounded-lg px-3 py-2.5 text-base transition font-semibold leading-7 hover:text-gray-900 hover:bg-white" do %>
    Hello <%= current_user.first_name %>
  <% end %>
</div>
