<div id="<%= dom_id test %>">
  <p>
    <strong>Study set:</strong>
    <%= test.study_set_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= test.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= test.status %>
  </p>

</div>
