<footer class="bg-indigo-600 p-8 py-4 text-white">
  <div class="flex gap-4 mx-auto max-w-7xl px-4 sm:px-4 lg:px-6">
    <%= link_to 'Privacy policy', privacy_policy_blog_path, class: 'text-white hover:opacity-50' %>
    <%= link_to 'Terms and services', terms_and_conditions_blog_path, class: 'text-white hover:opacity-50' %>
  </div>
</footer>
