<div class="">
  <% examples.each do |example| %>
    <p class="font-semibold first-letter:uppercase">
      <%= example.term_example %>
    </p>
    <p class="text-gray-500 mb-2 first-letter:uppercase">
      <%= example.definition_example %>
    </p>
  <% end %>
</div>
