<div class="mt-4">
  <% examples.each do |example| %>
    <p class="font-semibold">
      <%= example.term_example %>
    </p>
    <p class="text-gray-500 mb-2">
      <%= example.definition_example %>
    </p>
  <% end %>
</div>
